.compose-form {
    margin: 2em;
    margin-left: 3em;
}

.compose-form-date, .compose-form-dropdown, .compose-form-button {
    cursor: pointer;
}

.compose-form-date, .compose-form-input, .compose-form-dropdown, .compose-form-button {
    font-size: 1.5rem;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

    background: var(--compose-background);

    border-style: solid;
    border-width: 0;
    border-color: var(--compose-bbc);
    border-bottom-width: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: var(--content-textcolor);
    fill: var(--content-textcolor);
}
.compose-form-input::placeholder, .compose-form-button::placeholder {
    color: var(--content-placeholdercolor);
    opacity: 1;
}

.compose-form-todo-cb {
    margin-right: 5px;
}
.compose-form-iar {
    padding-left: 20px;
}

#compose-form-submit {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 10px 20px;
    background: rgba(0,0,0,0.5);
    color: white;
    border-color: rgba(50,225,50,0.75);
    border-radius: 10px;
    border-style: solid;
    cursor:pointer;
    transition: 0.2s;
}
#compose-form-submit:hover {
    background: rgba(0,50,0,0.5);
    transform: translateY(-2px);
}

.compose-form-button-red { transition: 0.2s; }
.compose-form-button-red:hover { color: red; }