body {
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
  margin: auto;
}

html,body,#content {
  background-color: var(--content-background);
  color: var(--content-textcolor);
}

#content {
  margin-top: 0;
  margin-left: 16.5%;
}

#sidebar {
  width: 15%;
  border-right: 1px solid var(--border-color);
  background: var(--sidebar-background);
  color: var(--content-textcolor);
  padding: 1rem;
  font-size: 24px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-top {
  position: absolute;
  top: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar-bottom {
  position: absolute;
  bottom: 3rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar-text {
  margin-left: 10px;
}
.sbi {
  text-align: center;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 800px) {
  #sidebar {
    min-width: 195px;
    width: 15%;
  }
  #content {
    margin-left: 210px;
  }
}
@media only screen and (min-width: 1300px) {
  #content {
    margin-left: 16%;
  }
}
@media only screen and (max-width: 800px) {
  #sidebar {
    width: 50px;
  }
  .sidebar-text {
    display: none;
  }
  #content {
    margin-left: 60px;
  }
}

.sidebar-item {
  font-family: Gantari, 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 2px;
  width: 100%;
}

a.sidebar-item {
  display: inline-block;
  text-decoration: none;
  color: var(--content-textcolor);
  transition: 0.2s;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}
a.sidebar-item:hover {
  background: rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

.ttl {
  font-family: Gantari, 'Open Sans', Helvetica, Arial, sans-serif;
  padding: 13px;
  padding-left: 30px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--title-background);
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.postmakersect {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.15);
  color: rgb(77, 127, 233);
  text-decoration: none;
  transition: 0.2s;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 36px;
}
.postmakersect:hover {
  background-color: rgba(0,0,0,0.1);
  transform: translateY(-2px);
}

#error {
  font-family: Gantari, 'Open Sans', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,50,50,0.5);
  border-color: rgb(255,50,50);
  margin: 15px;
  margin-left: 30px;
  padding: 10px;
  border-width: 2px;
  border-radius: 15px;
  border-style: solid;
}

#error-close {
  font-family: Gantari, 'Open Sans', Helvetica, Arial, sans-serif;
  background: rgba(0,0,0,0.2);
  padding: 2.5px 5px 2.5px 5px;
  border-radius: 100%;
  font-weight: 800;
  transition: 0.2s;
}
#error-close:hover {
  background: rgba(255,255,255,0.2);
  transform: rotate(360deg);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: 0.2s;
  padding: 3px;
}
a:hover {
  color: var(--content-textcolor);
  background: var(--link-color);
}

.item-logo {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
}