@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Inter', 'Gantari', 'Helvetica Now', Helvetica, 'Open Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: black;
    color: white;
}
body {
    height: 100%;
}

.button {
    padding: 10px 13px 10px 13px;
}

.hvr {
    cursor: pointer;
}

.header {
    font-size: 19px;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header-section {
    display: flex;
    align-items: center;
}
.header-img { margin-right: 7px; }

.top-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Poppins, Inter, Gantari, 'Helvetica Now', Helvetica, Arial, sans-serif;
}

.top-title-page {
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}
.top-title-day {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 300;
}
.top-title-day-text {
    margin-top: -5px;
}
.top-title-day-chevron {
    font-size: 20px;
    color: rgb(100, 100, 100);
}
.top-title-day-chevron.left { margin-right: 20px; }
.top-title-day-chevron.right { margin-left: 20px; }
.top-title-date {
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(177, 177, 177);
}

.top-addtask {
    width: 100%px;
}
.top-addtask-button {
    font: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    height: 25px;
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    color: rgb(177, 177, 177);
    background-color: rgba(255, 255, 255, 0.12);
}
.top-addtask-button:hover {
    background-color: rgba(255, 255, 255, 0.17);
}
.top-addtask input {
    margin-top: 10px;
    background-color: rgb(35,35,35);
    color: rgb(177, 177, 177);
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

/* compose popup top */
.top-title-datec {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
}

/* compose popup */
#compose-popup, .compose-popup-wrapper, .compose-popup-background, .compose-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}
.compose-popup-background {
    backdrop-filter: blur(20px);
}
.compose-popup {
    margin-top: 40px;
    overflow-y: auto;
}
.compose-popup-close {
    position: fixed;
    top: 1em;
    left: 1em;
    font-size: 30px;
    transition: 0.2s;
}
.compose-popup-endless {
    margin-top: 30px;
    color: rgb(109, 109, 109);
}
.compose-popup-endless.checked {
    color: white;
}
.compose-popup-input {
    margin-top: 30px;
    overflow-y: auto;
    height: calc(100% - 300px);
    padding: 20px;
}
.compose-popup-input-tabs {
    display: flex;
    color: rgb(109, 109, 109);
    display: flex;
    justify-content: center;
}
.compose-popup-input-tab {
    text-align: center;
    font-weight: 400;
    padding: 10px;
    width: 150px;
    border-bottom: 2px rgb(109, 109, 109) solid;
    cursor: pointer;
}
.compose-popup-input-tab.open {
    font-weight: 600;
    color: white;
    border-bottom: 2px white solid;
}
.compose-popup-input-content-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.compose-popup-input-content {
    max-height: calc(100% - 192px - 50px - 50px);
    padding: 10px;
    width: min-content;
    overflow-y: auto;
}
.compose-popup-input-content input, .compose-popup-input-content textarea {
    font-family: 'Inter', 'Gantari', 'Helvetica Now', Helvetica, 'Open Sans', Arial, sans-serif;
    margin-top: 10px;
    background-color: rgb(35,35,35);
    color: rgb(177, 177, 177);
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    min-width: 250px;
    resize: none;
}
.compose-popup-input-content input:focus, .compose-popup-input-content textarea:focus {
    outline: none;
}
.compose-popup-input-content textarea { min-height: 200px; }

.compose-popup-content-points {
    margin-top: 10px;
}
.compose-popup-content-point {
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.compose-popup-content-point input { margin-top: 0; margin-left: 5px; }
.compose-popup-content-point.notcontaining { color: rgb(109, 109, 109) }

.compose-popup-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.compose-popup-button {
    font-family: 'Inter', 'Gantari', 'Helvetica Now', Helvetica, 'Open Sans', Arial, sans-serif;
    color: white;
    font-size: 20px;
    background-color: rgb(41, 126, 196);
    --bs-clr: rgb(34, 108, 168);
    box-shadow: 0px 5px 0px var(--bs-clr);
    border: none;
    padding: 10px 20px;
    margin-left: 5px; margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.compose-popup-button:hover {
    transform: translateY(2px);
    box-shadow: 0px 3px 0px var(--bs-clr);
}
.compose-popup-button:active {
    transform: translateY(5px);
    box-shadow: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(35,35,35);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(22, 22, 22);
}

/* post */
.tasks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.task {
    margin: 10px;
    padding: 20px;
    width: 250px;
}
.task-title {
    font-family: Poppins, Inter, Gantari, 'Helvetica Now', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
.task-contents {
    margin: 5px;
    font-size: 20px;
    font-weight: 400;
}
.task-contents span {
    color: rgb(177, 177, 177);
}
.todo-point.checked { font-weight: 500; color: white; }
.todo-point { margin-top: 5px; cursor: pointer; display: flex; color: rgb(109, 109, 109) }
.todo-point label { margin-top: -2px; margin-left: 10px; }

.noposts {
    font-size: 16px;
    color: rgb(109, 109, 109)
}

a, .link {
    color: rgb(62, 181, 228);
    text-decoration: none;
    padding: 3px;
    transition: 0.2s;
}
a:hover, .link:hover {
    color: white;
    background-color: rgb(62, 181, 228);
}