.night {
    --backgroundcol: #000;
    --backgroundurl: #fff;
    --backgroundblur: 0;
    --accentcol: linear-gradient(to bottom right, #FE7259, #FF8B38);
    --accentcontrastcol: #fff;
    --accenthvrcol: linear-gradient(to bottom right, #FF8B38, #FE7259);
    --secondcol: rgb(35,35,35);
    --secondhvrcol: rgb(55,55,55);
    --textcol: white;
    --mtextcol: rgb(177,177,177);
    --stextcol: rgb(109,109,109);
    --linkcol: rgb(62,181,228);
    --scrollfgcol: rgb(22,22,22);
    --scrollbgcol: rgb(35,35,35);
}
.dark {
    --backgroundcol: rgb(30,30,30);
    --backgroundurl: #fff;
    --backgroundblur: 0;
    --accentcol: linear-gradient(to bottom right, #FE7259, #FF8B38);
    --accentcontrastcol: #fff;
    --accenthvrcol: linear-gradient(to bottom right, #FF8B38, #FE7259);
    --secondcol: rgb(25,25,25);
    --secondhvrcol: rgb(20,20,20);
    --textcol: rgb(228, 228, 228);
    --mtextcol: rgb(177,177,177);
    --stextcol: rgb(109,109,109);
    --linkcol: rgb(62, 181, 228);
    --scrollfgcol: rgb(37, 37, 37);
    --scrollbgcol: rgb(55,55,55);
}
.light {
    --backgroundcol: rgb(228,228,228);
    --backgroundurl: #fff;
    --backgroundblur: 0;
    --accentcol: linear-gradient(to bottom right, #FE7259, #FF8B38);
    --accentcontrastcol: #fff;
    --accenthvrcol: linear-gradient(to bottom right, #FF8B38, #FE7259);
    --secondcol: #fff;
    --secondhvrcol: rgb(228, 245, 255);
    --textcol: rgb(20, 20, 20);
    --mtextcol: rgb(40,40,40);
    --stextcol: rgb(69, 69, 69);
    --linkcol: rgb(16, 158, 214);
    --scrollfgcol: #fff;
    --scrollbgcol: rgb(210, 210, 210);
}